* {
  margin: 0;
  padding: 0;
  font-size: 23px;
}

.container {
  margin: 100px auto;
  line-height: 75px;
  width: 400px;
  background-color: rgb(55, 228, 228);
  padding: 25px;
  border-radius: 25px;
  border: 5px solid black;
  box-shadow: 0px 0px 25px 15px rgb(171, 168, 168);
}

button {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.327);
}
.iCopy,
.cCopy,
.eCopy,
.pCopy {
  float: right;
}
